{% include 'base.html' %}
{% load staticfiles %}
<script src="{% static "e_container/jquery.flot.js" %}"></script>
<script src="{% static "e_container/jquery.flot.time.js" %}"></script>
<link rel="stylesheet" href="{% static "e_container/flot_style.css" %}">
<script src="{% static "e_container/rrd_plot.js" %}"></script>

<div id="content">
    <b>Data for {{ location }}</b>
    <meta id="measurements" data-measurements="{{ measurements }}">

    <div class="demo-container">
        <div id="placeholder" class="demo-placeholder"></div>
    </div>


    {#    <p>Zoom to:#}
    {#        <button id="whole">Whole period</button>#}
    {#        <button id="nineties">1990-2000</button>#}
    {#        <button id="latenineties">1996-2000</button>#}
    {#    </p>#}
    {##}
    {#    <p>Zoom to:#}
    {#        <button id="ninetyninequarters">1999 by quarter</button>#}
    {#        <button id="ninetynine">1999 by month</button>#}
    {#        <button id="lastweekninetynine">Last week of 1999</button>#}
    {#        <button id="lastdayninetynine">Dec. 31, 1999</button>#}
    {#    </p>#}

</div>

